* {
	box-sizing: border-box;
	margin :0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
	height: 100vh;
	line-height: 1.5;
	font-family: 'Montserrat';
	background-color: $background-colour;
	overflow: hidden;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
	display: none;
}

.main-content {
	height:100%;
	width: 100%;
	overflow-y: scroll;
	padding-top: 110px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.site-header {
    word-break: break-word;
    color: #fcfcfc;
    padding: 0 $spacing ($spacing * 1.4) $spacing;
	font-family: 'Raleway', sans-serif;
	h1 {
    	font-family: 'Righteous', cursive;
		font-size:4rem;
		line-height:3rem;
		transition: 0.5s;
		position: relative;
		left: -3px;
	}
	h2 {
		font-size: 1.3rem;
	    line-height: 1.2rem;
	    padding-top: 5px;
	}
	p{
		margin-top: 5px;
	    font-size: 0.9rem;
	    line-height: 0.85rem;
	}
}