        /*SCSS FOUND: http://codepen.io/ettrics/pen/zGrxPp/*/
* {
  box-sizing: border-box;
  margin:0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  line-height: 1.5;
  font-family: 'Montserrat';
  background: #f2f2f2;
  color: #404040;
  overflow: hidden;
}

a {
  text-decoration: none;
}


.view {
  height: 100%;
  width: 100%;
  /*min-width: 384px;*/
  /*max-width: 50%;*/
  background: #404040;
  overflow-y: scroll;
}

.card__list {
  padding: 0.75rem;
  transition: 0.5s;
}
.card__item {
  margin: 0 0 0.3rem 0;
  /*padding: 2.25rem 1.5rem;*/
  height:115px;
  border-top: 4px solid #404040;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.62);
  background: #666;
  cursor: pointer;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
  display:inline-block;
  width: 100%;
  color:#e0e0e0;
}
.card__item {
  border-top-color: #5171C3;
}

.card__item:hover .info-movie-name {
  color: #5171C3;
}
.card__item:hover {
  background: #444;
}

.card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0 0 85px;
}
.card__info .info-movie {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.card__info .info-movie-rating {
  margin:0;
  font-size: 12px;
}
.card__info .info-movie-name {
  line-height: 1.1;
  font-size: 16px;
  margin: 0;
}
.card__info .info-movie-overview {
  margin:0;
  font-size: 12px;
}

.card-full {
  will-change: transform;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 2;
  visibility: hidden;
  transform-origin: top center;
  transform: scaleY(0) translate(-50%, -50%);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  overflow-y: scroll;
}
.card-full.active {
  visibility: visible;
  -webkit-transform: scaleY(1) translate(-50%, -50%);
          transform: scaleY(1) translate(-50%, -50%);
}
.card-full.active .card-full-num,
.card-full.active .card-full-handle,
.card-full.active .card-full-info {
  opacity: 1;
}

.full-movie-title {
  font-size:20px;
}

.card-full-bottom {
  background: #404040;
  min-height:50%;
  color:#eee;
}
.card-full-top {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  background: #5171C3;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
  color:#eee;
  text-shadow: 1px 1px 2px #000;
  padding:15px;
  font-size: 16px;
  max-height:50%;
  min-height:50%;
}

.card-full-num, .card-full-handle, .card-full-info {
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition-duration: 2s;
  transition-delay: .35s;
}

.card-full-info {
  margin: 0 0 35px 0;
  font-size: 12px;
  background-color: #404040;
  color: #fff;

  padding: 1rem 2rem 1rem 2rem;
}
.full-cast, .recommended-movies, .similar-movies {
  font-size: 12px;
    display: flex;
    flex-flow: nowrap row;
    justify-content: flex-start;
    overflow-x: scroll;
    align-items: center;
    margin: 5px 0 35px 0;
}

::-webkit-scrollbar {
display: none;
}

.actor-card {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #eee;
  padding: 5px;
  margin: 5px;
  color: #404040;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #000;
}
.actor-profile-pic {
  width:100%;
  height:115px;
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
}
.actor-name {
  font-size: 11px;
  font-weight: bold;
}
.actor-character {
  font-size: 10px;
}
.top-info{
  z-index: 2;
}
.full-poster {
  width:92px;
  height:138px;
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
  margin-right:5px;
  z-index: 2;
}
.card-full-top:before {
  background-image:linear-gradient(to bottom, rgba(64,64,64,0) 0%, rgba(64,64,64,0) 55%, rgba(64,64,64,0.9) 80%, rgba(64,64,64,1) 100%);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: 1;
}

.movie-poster{

  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
  min-height: 100%;
  width: 75px;
  /*margin: -50px 10px -50px -20px;*/
  float:left;
  margin: 0;
}

/* btn */
.closeBurger {
  position: fixed;
  display:  inline-block;
  width: 30px;
  height: 30px;
  margin: 15px;
  top:0;
  right:0;
  z-index: 2;
}

.closeBurger span {
  margin: 0 auto;
  position: relative;
  top: 12px;
}
.closeBurger span:before, .closeBurger span:after {
  position: absolute;
  content: '';
}
.closeBurger span, .closeBurger span:before, .closeBurger span:after {
  width: 30px;
  height: 6px;
  background-color: #eee;
  display: block;
}
.closeBurger span:before {
  margin-top: -12px;
}
.closeBurger span:after {
  margin-top: 12px;
}


/* close Hamburger Menu */
.closeBurger span {
  -webkit-transition-duration: 0s; transition-duration: 0s;
  -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
  box-shadow: 2px 2px 5px #000;

}
.closeBurger:hover span {
  background-color: rgba(0,0,0,0.0);
  -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
  box-shadow: 0px 0px 0px #000;

}
.closeBurger span:before {
  -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
  -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
   box-shadow: 2px 2px 5px #000;

}
.closeBurger:hover span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg); transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
   box-shadow: 2px 2px 5px #000;

}
.closeBurger span:after {
  -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
  -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s; box-shadow: 2px 2px 5px #000;

}
.closeBurger:hover span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s; box-shadow: 2px 2px 5px #000;

}








form {
  margin: 25px 10px 10px 10px;
}




.search-container {
  display: table;
  width: 100%;
  height: 100%;
}
.search-container-inner {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
}
/*** STYLES ***/
#search {
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 7px 9px 0px 9px;
  border: 3px solid #FFFFFF;
  border-radius: 25px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: text;
  line-height: 40px;
  height: 40px;
}
#search:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  right: -6px;
  top: 25px;
  background: #FFFFFF;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
#search.activeSearch,
#search:hover {
  width: 100%;
  margin-right: 0px;
}
#search.activeSearch:after,
#search:hover:after {
  height: 0px;
}
#search input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 18px;
  color: inherit;
  background: transparent;
  outline-width: 0px;
  text-align: center;
  color: #eee;
  vertical-align: top;

}
