.nav {
    display: flex;
    width: 100%;
    background: #303030;
    flex-flow: column nowrap;
    height: 110px;
    margin: 0;
    padding: $spacing;
    position:fixed;
    top:0;
    transition: 0.75s ease-out;
    z-index:500;

    &.gone {
    	transform: translateY( -100% );
    }

	&-top {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: $spacing;
	}

	&-left, &-right {
        display: flex;
        flex-flow: row nowrap;

    	li {
    		margin:0 5px;

    		a {
    			color: $text-colour;
    		
        		&:hover {
        			color: mix($text-colour, $tv-colour);
        		}
            }

            p {
                color: darken($card-highlight-colour, 30%);
            }
    	}
	}

	@import 'search';
}