.search-container {
	&-inner {
		max-width: 460px;
		text-align: left;
		vertical-align: middle;
	}

	input {
		background-color: transparent;
		border: none;
		box-sizing: border-box;
		color: $text-colour;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
		font-size: 18px;
		outline-width: 0px;
		text-align: left;
		vertical-align: top;
		width: 100%;
	}

	#search {
		border-radius: 25px;
		border: 3px solid $text-colour;
		box-sizing: border-box;
		cursor: text;
		display: inline-block;
		height: 35px;
		margin: 0px 8px 7px 0px;
		padding: 3px 9px;
		position: relative;
		transition: all 200ms ease;
		width: 35px;

		&:after {
			background-color: $text-colour;
			border-radius: 3px;
			content: "";
			height: 20px;
			position: absolute;
			right: -5px;
			top: 21px;
			transform: rotate(-45deg);
			transition: all 200ms ease;
			width: 3px;
		}

		&.activeSearch, &:hover {
			margin-right: 10px;
			width: 100%;

			&:after{
				height: 0px;
			}
		}
	}
}
