@media only screen and (min-width : 768px) {

}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .card-sm {
        justify-content: space-between;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .card-lg {
    	width: 48%;
    }
    .card-sm {
        overflow: -moz-scrollbars-none !important;
    }
    .card-details-top {
        border-left: 4px solid;
        border-right: 4px solid;
    }
    .site-header {
        h1 {
            font-size:10rem;
            line-height:8rem;
            left: -9px;
        }
        h2 {
            font-size:2rem;
            line-height: 2rem;
        }
        p {
            font-size: 1.15rem;
            line-height: 1rem;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .card-lg {
    	width: 30%;
    }
}