

.card {
	@import 'credentials';
	@import 'movieDetails';
	@import 'card-lg';
	@import 'card-sm';
	
	&-list {
		color: $text-colour;
		padding: 0 0.75rem 0.75rem 0.75rem;
		transition: 0.75s ease-out;
		width: 100%;
	    display: flex;	
	    flex-flow: row wrap;
	    justify-content: space-between;

		.search-result-header {
			width: 100%;
		    margin-top: 2rem;
		    text-align: center;
		}
	}

}