//card {
//
&-lg {
	margin: 0 0 0.75rem 0;
	height:115px;
	width:100%;
	border-top: 4px solid $card-highlight-colour;
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.62);
	background-color: $card-colour;
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	overflow: hidden;

	&-poster{
		background-repeat: no-repeat;
		background-position: center center; 
		background-size: cover;
		min-height: 100%;
		width: 75px;
		float:left;
		margin: 0;
	}
	
	&:hover {
		background-color: $card-hover;
		
		.movie-name {
			color: $text-hover;
		}
	}

	&-info {
		align-items: center;
		display: flex;
		justify-content: space-between;
		
		.movie {
			align-items: flex-start;
			color: $text-colour;
			display: flex;
			flex-direction: column;
			padding:15px;

			&-rating {
				font-size: 12px;
				margin:0;
				overflow: hidden;
			    -webkit-box-orient: vertical;
			    -webkit-line-clamp: 1;		
			    display: -webkit-box;
			}

			&-name {
				font-size: 16px;
				line-height: 1.1;
				margin: 0;	
			    -webkit-box-orient: vertical;
			    -webkit-line-clamp: 1;		
			    display: -webkit-box;
			    overflow: hidden;
			}
			
			&-overview {
				font-size: 12px;
				margin:0;
			    -webkit-box-orient: vertical;
			    -webkit-line-clamp: 3;
			    display: -webkit-box;
			    overflow: hidden;
			}
		}
		
		.info-place {
			font-size: 24px;
			margin: 0;
		}
	}

	a {
		display: block;
		height:100%;
		width:100%;
	}
}